body 
{
    margin: 0;
    background: rgba(36, 36,36,1);  
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Custom Scroll Bar */

  /* width */
  ::-webkit-scrollbar 
  {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track 
  {
    background: #383838; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb 
  {
    background: #888; 
  }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover 
    {
      background: #555;
      width: 10px; 
    }


/* Navbar */

  .navbar 
  {
    background: #383838;
  }
  /* navbar flex container */
  .navbar-collapse
  {
    display: flex;
    justify-content: space-between;
  }

  /* Navbar Toggler icon */
  .navbar-toggler-icon 
  {
    color: #fff
  }
  /* Navbar Logo */
  .logo-nav
  {
    height: 6vh;
    margin-left: 3em;
  }
  
  /* Nav items */
  
  .nav-item
  {
    margin-left: 2vh;
  }

    .nav-link
    {
      color: #fff;
      margin-left: 3vh;
      font-size: 2.5vh
    }
  
  .nav-item:hover .nav-link{
    color: #e5e5e5;
  }
  .navbar-right 
  {
    align-self: flex-end;
    margin-right: 3vh; 
  }
  .navbar-left 
  {
    align-self: flex-start;
  }
 
  /* search bar sleek */
  
  .inner-container 
  {
    position: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
    .navbar-right input[type="text"] 
    {
      background: #444;
      border: 0 none;
      color: #d7d7d7;
      width: 0em;
      padding: 0.4rem 1.2em;
      margin: 0 1rem;
      z-index: -1;
    }

      .navbar-right input[type="text"]:hover
      {
        background:#ccc;
        color: #6a6f75; 
        width: 20em;
        padding-right: 2em;
        margin-right: 1rem;
        outline: none;
        cursor: pointer;
      }
      
      .navbar-right input[type="text"] 
    {
      transition: all 0.4s ease 0s;
    }
    
    .fa-search 
    {
      position: relative;
      color: #ccc;
      z-index: 1;
      right: 3rem
    }

/* main body content */
  .main-content 
  {   
    position: relative;
    display: flex;
    margin: 0 14vw 0 18vw;
    height: 90vh;
    max-width: 75vw;
  }
  

  /* Cards  */
  
  .main-content .cardie a 
  {
    text-decoration: none;
    color: #323232;
  }
  
    /* Removes the click/drag option */
    .clickCard
    {
      user-select: none;
      -webkit-user-drag: none;
      max-height: 26vh;
    }
    
    .cardie-container
    {
      margin:1px;
    }
      .cardie 
      {
        height: 15vh; width: 15vh;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
      }
        .cardie:hover
        {
          cursor: pointer;
        }
    /* The container for the card display element  */
    .card-display 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .display-cardie-container
    {
      margin-top: 10vh;
    }
    .display-cardie-container p
    {
      color: #e5e5e5;
      font-size: 2vh;
    }
    .display-cardie-container h2
    {
      color: #e5e5e5;
      font-size: 4vh;
    }
      .display-cardie
      {
        height: 50vh; width: 50vh;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
      }
    .display-content-container
    {
      color:#fff;
      margin-top:1vh;
      width: 45vh;
      display: flex;
      flex-flow: flex-start wrap;
      justify-content: space-between;
    }
      .display-content-container p
      {
        font-size: 2vh;
      }     
      .space-Pts
      {
        align-self: flex-end;
        order: 0; 
      }
      .fa-rocket
      {
        color: lightsalmon;
      }

  /* login form */
  .login-container 
  {
    background: #383838;
    height: 86vh;
    width: 65vw;
    margin-top: 2vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
    .signIn
    {
      margin:0 3rem;
    }
      .signIn input
      {
        margin: 1vh 0;
      }
      .signIn-btn
      {
        margin: 1vh 0;
      }

    /* Vertical line */
    .vl {
      border-left: 2px solid #6a6f75;
      height: 60vh;
      margin-left: 2vh;
      align-self: center
    }

    .signUp
    { display: flex;
      margin:0 5rem;
      max-width: 15rem;
      align-items: center;
    }
  


/* sidebar */
  .sidebar-left
  { 
    width: 17vw; 
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
  }
  
    .sidebar-left a 
    {
      margin-left: 0.5em;
      padding: 0.1em 0.5em;
      text-decoration: none;
      font-size: 0.8em;
      color: #fff;
      font-weight:100;
      display: inline-block;
    }
      .sidebar-left a:hover 
      {
        color: #aaa;

      }
  .side-container 
  {
    background: #383838;
    height: 86vh;
    width: 65vw;
    margin-top: 2vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
    .side-container p
    {
      margin: 0 2em;
      font-size: 1.2em;
    }
    .side-container li
    {
      margin: 1em 0;
    }
/* Note Bootstrap */
/*Extra small (xs) devices (portrait phones, less than 570pxs)
no media query since this is the default in Bootstrap

small(sm) devices (ladscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-widht: 1200px) { ... } 
*/